<script setup>
import { RouterView } from 'vue-router'
import HelloWorld from '@/components/HelloWorld.vue'
</script>

<template>
  <h1>Car Workshop</h1>

  <RouterView />
</template>

<style scoped>
</style>
